.content {
  display: flex;
  height: 600px;
}

.content-child {
  display: flex;
  flex-direction: column;
  color: white;
  background-image: linear-gradient(to right, rgb(0,0,0,1), rgb(0,0,0,0.75), rgb(0,0,0,0.5));
  height: inherit;
  padding-left: 20px;
}

.content-title {
  font-size: 80px;
  color: burlywood;
  margin-top: -5px;
}

.content-overview {
  width: 43%;
  font-size: 20px;
  color: grey;
  margin-top: -5px;
}

.content-rating {
  font-size: 20px;
  color: burlywood;
  margin-top: -5px;
}

.content-release {
  font-size: 30px;
  color: chartreuse;
  margin-top: -5px;
}

.content-buttons {
  display: flex;
  flex-flow: row wrap;
  width: 43%;
}

.content-buttons button {
    display: block;
    padding: 8px 25px 8px 25px;
    background: red;
    color: white;
    margin:0px 10px 0px 10px;
    border: 1px dashed white;
    cursor: pointer;
}

.content-image img {
  height: 600px;
}
